@import "variables";
@import "extend";

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-container {
  padding-top: 41px; 
}
.page-title {
  margin-left: 4%;
}
