%button {
  display: flex;
  margin-top: .6rem;
  align-items: center;
  justify-content: center;
  background-color: $transparent-gray; 
  border-radius: 4px;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.8vw;
}

%swiper-bullet {
  background: $transparent-gray;
  opacity: 0.5;
}

%swiper-bullet-active {
  background: $font-gray; 
}

%slide-btn-cover {
  content: "";
  position: absolute;
  width: 4%;
  height: 91%;
  background: $gray;
  z-index: 2;
  opacity:0.5;
}

%hover-reaction {
  border-color: $font-white;
  color: $font-white;
}

%icon-circle {
  background: $pop-up-card;
  border: 2px solid ;
  border-color: $font-gray;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
}
%modal-btn {
  transform: rotate(270deg);
  @extend %icon-circle;
  &:hover {
    @extend %hover-reaction;
  }
  &:hover > .icon-arrow_lift {
    @extend %hover-reaction;
  }
}

%icon {
  color: $font-gray;
  &::before {
    display: block;
  }
}